
<h1>Book <%= @bike.brand %></h1>
<%= cl_image_tag @bike.photo, height: 300, width: 300, crop: :fill %>



<%= simple_form_for ([@bike, @booking ]) do |f| %>
  <%= f.input :start_date,  :as => :date, :start_year => Date.today.year ,
:order => [ :day, :month, :year], :required => true %>
  <%= f.input :end_date, :as => :date, :start_year => Date.today.year ,
:order => [ :day, :month, :year], :required => true %>
  <%= f.submit "Book!", class: "btn btn-primary" %>
<% end %>
