
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="centered">
        <h1>Booking request </h1>
        <h3> <%= @bike.brand.capitalize %> </h3>
        <%= cl_image_tag @bike.photo, height: 300, width: 300, crop: :fill %>
      </div>
      <% if !@bike.avaible? %>
      <div class="alert alert-danger" role="alert">
        <p>The Bike is actually rented till <%= @bike.avaibility %></p>
      </div>
      <% else %>
      <div class="alert alert-success green" role="success">
        <p>There are no reservation for this bike! Do it! </p>
      </div>

      <% end %>


      <div class="simple-calendar">
        <%= month_calendar events: @bike.bookings do |date, bookings| %>
        <%= date.day %>
        <div class="<%= bookings.empty? ? "green" : "red" %>"></div>
        <% end %>
      </div>

      <div class="centered">
      <%= simple_form_for ([@bike, @booking ]) do |f| %>
      <%= f.input :start_date,  :as => :date, :start_year => Date.today.year,
      :order => [ :day, :month, :year], :required => true %>
      <%= f.input :end_date, :as => :date, :start_year => Date.today.year ,
      :order => [ :day, :month, :year], :required => true %>
      <%= link_to "Go Back", bike_path(@bike.id), class: "btn btn-danger"%>
      <%= f.submit "Book!", class: "btn btn-primary" %>
      <% end %>
</div>
    </div>
  </div>
</div>


