
<div class="container">
  <div class="row user-">
    <div class="col-md-4 col-sm-3 user-show-box">
      <h2> <%= @user.name.capitalize%></h2>
      <%= cl_image_tag @user.photo, height: 150, width: 150, crop: :fill, class: "profile-photo" %>
      <p> <strong>Email:</strong>  <%= @user.email %></p>
      <p> <strong>Phone:</strong>  <%= @user.phone_number %></p>
      <%= link_to edit_user_registration_path(current_user.id) do %>
      <p class= "edit-profile">Edit your Profile</p><i class="far fa-edit"></i>
      <% end %>
    </div>
    <div class="col-md-8 col-sm-9 booking-table">
      <h2 style="display: inline-block; margin-right: 10px"> Your coming ride</h2>
      <%= link_to "See all...", user_bokings_path(@user.id)%>
      <table class="table">
        <tr>
          <th>#id</th>
          <th> Photo</th>
          <th> Where</th>
          <th>From</th>
          <th>To</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
        <% @user.bookings.reverse[0..3].each do |booking|%>
        <tr>
          <td> <%=booking.id %></td>
          <td> <%= cl_image_tag booking.bike.photo, height: 40, width: 40, crop: :fill %> </td>
          <% @bike = Bike.find(booking.bike.id) %>
          <td> <%= @bike.location %></td>
          <td><%= booking.start_date.strftime("%A, %b %d") %></td>
          <td><%= booking.end_date.strftime("%A, %b %d") %></td>
          <td><%= booking.total_price %>€ </td>
          <% if booking.end_date <= Date.today && booking.status == 1 %>
          <td> <%= link_to "Review!", new_review_path(booking.id) %></td>
          <% elsif  booking.status == 0  %>
          <td> <p class ="label label-warning">PENDING</p>
          </td>
          <% elsif booking.status == 1 %>
          <td> <p class ="label label-success">CONFIRMED</p>
          </td>
          <% elsif booking.status == 2 %>
          <td> <p class ="label label-danger">DECLINED</p></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

<% if !@user.owner? %>

  <%= link_to new_bike_path do  %>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <div class="alert alert-success" role="success" style="margin-top: 30px">
        <p>Add a Bike and start to earn money! </p>
      </div>

    </div>
  </div>

  <% end %>
  <% end %>

</div>

<% if @user.owner? %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-3 user-show-box">
      <h3 style=" margin-right: 10px">Manage your Bikes</h3>
      <%= link_to my_bikes_path(@user.id), style: "margin-right: 10px" do%>
      See All <i class="fas fa-search"></i>
      <% end %>
      <%= link_to  new_bike_path do %>Add a new Bike<i class="fas fa-plus-circle" style="margin-left: 10px" ></i>
      <% end %>
      <div class="row" style="margin-top: 20px">
        <% @user.bikes.each do |bike| %>
        <div class="col-lg-6" style= "padding:0px 0px; margin-bottom: 13px">
          <%= link_to bike_path(bike.id) do %>
          <div class="user-bike-card" style="display: block"> <%= cl_image_tag bike.photo, height: 150, width: 150, crop: :fill%></div>
          <% end %>
        </div>
        <% end %>

      </div>

    </div>
    <div class="col-md-8 col-sm-9 booking-table">
      <table class="table">
        <h2 style="display: inline-block; margin-right: 10px">Your booking request</h2>
        <%= link_to "See all...", rent_requests_path(@user.id)%>

        <tr>
          <th>#id</th>
          <th> Photo</th>
          <th>From</th>
          <th>To</th>
          <th>Price</th>
          <th>Status</th>
          <th></th>
        </tr>

        <% if !@user.my_rentals.blank? %>
        <% @user.my_rentals.reverse[0..3].each do |rental| %>
        <tr>
          <td> <%=rental.id %></td>
          <td><%= cl_image_tag rental.bike.photo, height: 40, width: 40, crop: :fill %> </td>
          <td><%= rental.start_date.strftime("%A, %b %d") %></td>
          <td><%= rental.end_date.strftime("%A, %b %d") %></td>
          <td><%= rental.total_price %>€ </td>
          <% if  rental.status == 0  %>
          <td> Pending</td>
          <% elsif rental.status == 1 %>
          <td> Confirmed </td>
          <% elsif rental.status == 2 %>
          <td> Declined</td>
          <% end %>
          <% if rental.status == 0 %>

          <td><p class ="label label-warning">PENDING</p> <%= link_to confirm_booking_path(rental), method: :patch do %> <i class="fas fa-check-circle"></i> Accept<% end %></td>
          <td> <%= link_to decline_booking_path(rental), method: :patch do %> <i class="fas fa-times"></i> Decline <% end %></td>
          <% elsif rental.status == 1 %>
          <td> <p class ="label label-success">CONFIRMED</p></td>
          <% elsif rental.status == 2 %>
          <td> <p class ="label label-danger">DECLINED</p></td>
          <% end %>



        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

