
<div class="container">
  <div class="row user-">
    <div class="col-md-4 col-sm-3 user-show-box">
      <h2> <%= @user.name.capitalize%></h2>
      <%= cl_image_tag @user.photo, height: 150, width: 150, crop: :fill, class: "profile-photo" %>
      <p> <strong>Email:</strong>  <%= @user.email %></p>
      <p> <strong>Phone:</strong>  <%= @user.phone_number %></p>
      <%= link_to edit_user_registration_path(current_user.id) do %>
      <p class= "edit-profile">Edit your Profile</p><i class="far fa-edit"></i>
      <% end %>
    </div>
    <div class="col-md-8 col-sm-9 booking-table">
      <h2 style="display: inline-block; margin-right: 10px"> Your next ride</h2>
      <%= link_to "See all...", user_bokings_path(@user.id)%>
      <table class="table">
        <tr>
          <th>#id</th>
          <th> Photo</th>
          <th> Where</th>
          <th>From</th>
          <th>To</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
        <% @user.bookings[0..3].each do |booking|%>
        <tr>
          <td> <%=booking.id %></td>
          <td> <%= cl_image_tag booking.bike.photo, height: 40, width: 40, crop: :fill %> </td>
          <% @bike = Bike.find(booking.bike.id) %>
          <td> <%= @bike.location %></td>
          <td><%= booking.start_date.strftime("%A, %b %d") %></td>
          <td><%= booking.end_date.strftime("%A, %b %d") %></td>
          <td><%= booking.total_price %>€ </td>
          <% if  booking.status == 0  %>
          <td> <p class ="label label-warning">PENDING</p>
          </td>
          <% elsif booking.status == 1 %>
          <td> <p class ="label label-success">CONFIRMED</p>
          </td>
          <% elsif booking.status == 2 %>
          <td> <p class ="label label-danger">DECLINED</p></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% if @user.owner? %>
  <div class="row">
    <div class="col-lg-4 user-show-box">
      <h3 style="display: inline-block; margin-right: 10px">Manage your Bikes</h3>
      <%= link_to "See all...", my_bikes_path(@user.id)%>
      <% @user.bikes.each do |bike| %>
      <%= link_to bike_path(bike.id) do %>
      <div class="user-bike-card" > <%= cl_image_tag bike.photo, height: 150, width: 150, crop: :fill%></div>
      <% end %>
      <% end %>
    </div>
    <div class="col-lg-8 booking-table">
      <table class="table">
        <h2 style="display: inline-block; margin-right: 10px">Your next renting request</h2>
        <%= link_to "See all...", rent_requests_path(@user.id)%>

        <tr>
          <th>#id</th>
          <th> Photo</th>
          <th>From</th>
          <th>To</th>
          <th>Price</th>
          <th>Status</th>
          <th></th>
        </tr>

        <% if !@user.my_rentals.blank? %>
        <% @user.my_rentals[0..3].each do |rental| %>
        <tr>
          <td> <%=rental.id %></td>
          <td><%= cl_image_tag rental.bike.photo, height: 40, width: 40, crop: :fill %> </td>
          <td><%= rental.start_date.strftime("%A, %b %d") %></td>
          <td><%= rental.end_date.strftime("%A, %b %d") %></td>
          <td><%= rental.total_price %>€ </td>
          <% if  rental.status == 0  %>
          <td> Pending</td>
          <% elsif rental.status == 1 %>
          <td> Confirmed </td>
          <% elsif rental.status == 2 %>
          <td> Declined</td>
          <% end %>
          <% if rental.status == 0 %>

          <td><p class ="label label-warning">PENDING</p> <%= link_to confirm_booking_path(rental), method: :patch do %> <i class="fas fa-check-circle"></i> Accept<% end %></td>
          <td> <%= link_to decline_booking_path(rental), method: :patch do %> <i class="fas fa-times"></i> Decline <% end %></td>
          <% elsif rental.status == 1 %>
          <td> <p class ="label label-success">CONFIRMED</p></td>
          <% elsif rental.status == 2 %>
          <td> <p class ="label label-danger">DECLINED</p></td>
          <% end %>



        </tr>
        <% end %>
      </table>
      <% end %>


    </div>
  </div>
  <% end %>

</div>
