
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2> <%= @user.name %></h2>
      <%= cl_image_tag @user.photo, height: 100, width: 200, crop: :fill %>

      <p> Email: <%= @user.email %></p>
      <p> Phone: <%= @user.phone_number %></p>
      <%= link_to "Edit Your Profile", edit_user_registration_path(current_user.id) %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div style="display: flex; justify-content: start">
      <div><p><% @user.bookings.each do |booking|%></p></div>
      <div><p> Booking reference : <%=booking.id %></p></div>
      <div><p> Start date: <%= booking.start_date.strftime("%A, %b %d") %></p></div>
      <div><p> End date: <%= booking.end_date.strftime("%A, %b %d") %></p></div>
      <div><p>Total price: <%= booking.total_price %> EUR</p></div>
      <% if Review.where(booking_id: booking.id) == []  %>
      <%= link_to "review your experience", new_booking_review_path(booking.id) %>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
