<div class="banner">
  <div class="banner-content">
<h1>Find a perfect bike for your next destination </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @bikes.each do |bike| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">

          <% if bike.photo %>
            <div class="card-header" style="background-image: url('<%= image_path bike.photo%>')">
            </div>
          <% else %>
            <div class="card-header" style="background-image: url('<%= cl_image_tag("653px-usdot_highway_sign_bicycle_symbol_-_blacksvg.png") %>'); border: 1px solid">
            </div>
          <% end %>
          <div class="card-body">
            <p><%= link_to bike.brand, bike_path(bike) %></p>
            <p><%= bike.category %></p>
            <p><%= bike.daily_price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Add bike', new_bike_path %>

<div id="map" style="width: 80%; height: 600px;" data-markers="<%= @markers.to_json %>"
></div>
