
<div style="background: url(<%= cl_image_path @bike.photo %>); background-size: cover; background-position: center;" class="bike-banner">

</div>



<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <div class="grid-showbike">
        <div class="grid-left gcontent">
          <%= cl_image_tag @bike.user.photo, class: "showbike-avatar" %>
          <p>proposed by </p> <h2><%=@bike.user.name%></h2>
          <p> from <%=@bike.daily_price%> $/day</p>
          <% if @bike.avaible? %>
        </div>
        <div class="grid-top-right gcontent">
          <h1><%=@bike.brand%></h1>
          <div class="cat-grid">
            <h4>Category</h4> <p><%=@bike.category%></p>
          </div>
        </div>
        <div class="grid-middle-right gcontent">
          <h4>A few words about my bike: </h4>
          <p><%=@bike.description%></p>
        </div>
        <div class="grid-bottom-right gcontent">
          <h4>Location</h4><h4><%= @bike.location.capitalize %></h4>
          <div style="background: url(<%= image_path "https://maps.googleapis.com/maps/api/staticmap?zoom=8&size=1000x1000&sensor=false&maptype=roadmap&markers=color:red|#{@bike.location}", class: "showbike-map" %>); background-size: cover; background-position: center;" class="showbike-map">
          </div>
        </div>

      </div>







      <p style="color: red"> Bike Avaible for rent!</p>
      <% else  %>
      <p style="color: red">  Bike actually not avaible!</p>
      <p style="color: red"> The bike will be avaible agan on <%= @bike.avaibility %> </p>
      <% end %>

      <%= link_to "Edit bike", edit_bike_path(@bike) %>
      <%= link_to bike_path(@bike.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash"></i>
      <% end %>

      <h3>See all reviews for <%=@bike.brand%></h3>
      <% @reviews.each do |review| %>
      <p> <%= review.rate %> / <%= review.description %>   </p>
      <% end %>
      <% if @bike.user != current_user && @bike.avaible?%>
      <%= link_to "Book the bike", new_bike_booking_path(@bike), class: "btn btn-primary" %>
      <% elsif @bike.user != current_user && !@bike.avaible?%>
      <%= link_to "Book the bike", new_bike_booking_path(@bike), class: "btn btn-primary" %>
      <p style="color: red"> Bike not avaible!</p>
      <p style="color: red">U can still book the bike, but it will be avaible from the <%= @bike.avaibility %> </p>

      <% end %>


    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
     <h1>Read the reviews</h1>
     <% @reviews.each do |review| %>

     <div class="row" style="border: 1px solid black; border-radius: 2px">
      <p> <strong> Review written by </strong>review.user.name</p>
      <p> <strong>Rating</strong> <%= review.rate %></p>
      <p> <strong>Description </strong></p>
      <%= review.description %>

    </div>

    <% end %>
  </div>
</div>
</div>




