
<div style="background: url(<%= cl_image_path @bike.photo.url(:banner) %>); background-size: cover; background-position: center;" class="bike-banner">

</div>



<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">

      <div class="grid-showbike">

        <div class="grid-left gcontent">
          <%= cl_image_tag @bike.user.photo, class: "showbike-avatar" %>
          <p style="margin-top: 40px;">proposed by </p> <h2 class="green-content"><%=@bike.user.name%></h2>
          <p> from <%=@bike.daily_price%> $/day</p>
          <div class="book-section">
            <% if @bike.avaible? %>
              <p style="color: #c6261d"> Bike currently available!</p>
            <% else  %>
              <p style="color: #c6261d"> Sorry, this bike won't be available before <%= @bike.avaibility %> </p>
            <% end %>
            <% if @bike.user != current_user && @bike.avaible?%>
             <%= link_to "Book the bike", new_bike_booking_path(@bike), class: "btn btn-primary btn-book" %>
            <% elsif @bike.user != current_user && !@bike.avaible?%>
              <%= link_to "Book the bike", new_bike_booking_path(@bike), class: "btn btn-primary btn-book" %>
              <p style="color: red"> Bike not avaible!</p>
              <p style="color: red">U can still book the bike, but it will be avaible from the <%= @bike.avaibility %> </p>
            <% end %>
          </div>
        </div>

        <div class="grid-top-right gcontent">
          <div class="brand-grid">
            <h1>Brand</h1><h1 class="green-content"><%=@bike.brand%></h1>
          </div>
          <div class="cat-grid">
            <h5>Category</h5><h5 class="green-content"><%=@bike.category%></h5>
          </div>
        </div>

        <div class="grid-middle-right gcontent">
          <h4>A few words about my bike: </h4>
          <p><%=@bike.description%></p>
        </div>

        <div class="grid-bottom-right gcontent">
          <div class="text-location">
            <h5>Location</h5><h4 class="green-content"><%= @bike.location.capitalize %></h4>
          </div>
          <div class="map-location">
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=8&size=1500x1500&sensor=false&maptype=roadmap&markers=color:red|#{@bike.location}", class: "map" %>
          </div>
        </div>

      </div>


        <%= link_to "Edit bike", edit_bike_path(@bike), class: "edit-bike" %>
        <%= link_to bike_path(@bike.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "edit-bike" do %>
        <i class="fas fa-trash"></i>
      <% end %>





    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <h1 class="col-xs-8 col-xs-offset-2" style="color: grey">Read the <%= @bike.reviews.size %> reviews for this bike</h1>
    <% @bike.reviews.each do |review| %>
      <div class="col-xs-8 col-xs-offset-2">

        <div class="review-card">
        <p> <strong> Review by </strong> <%=  review.booking.user.name %></p>
        <p> <strong>Rating</strong> <%= review.rate %></p>
        <%= review.description %>

      </div>
      </div>
    <% end %>
  </div>
</div>




